// Place all the styles related to the Responses controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.res-cancel-new {
  float:right;
  margin-right: 550px;
    & input {
      height:23px;
      width: 56px;
    }
}

#res-submit {
  & input {
    margin-top:50px;
    height:23px;
    width:56px;
  }
}

.res-comment {
  & label {
	  width:250px;
  }
  & textarea {
    margin-left: -135px;
  }
}